/*!
 * Global | WEB
 */

html,
body {
    min-height: 100vh;
}
strong {
    font-weight: 600;
}
pre {
    padding: 0.5rem;
    background-color: #333333;
    color: #ffffff;
    border-radius: 0.25rem;
}
pre strong {
    color: $js;
}
table {
    margin-bottom: 1rem;
}
code {
    padding: 2px 4px;
    background-color: #f9f2f4;
    border-radius: 0.25rem;
}
iframe {
    margin-bottom: 0.5rem;
}

.img-fluid {
    width: 100%; /* IE11 */
}
.jumbotron {
    margin-bottom: 1rem;
}
.figure-caption {
    text-align: center;
}
.r16by9,
.r16by10 {
    width: 100%;
    height: 0;
    padding-bottom: 56.3%;
}
.r16by10 {
    /* background-color: #eee; */
    padding-bottom: 62.5%;
}
.r16by9 .img-fluid,
.r16by10 .img-fluid {
    width: 100%;
    height: auto;
}

.header {
    color: #ffffff;
    text-shadow: 2px 2px 2px black;
}

// Layout
@media (max-width: 575.98px) {
    .navbar,
    .main {
        border-radius: 0 !important;
    }
}

// Decoration
.page-html {
    background-color: $html;
    background: linear-gradient(0.38turn, $html 20%, adjust-hue($html, 36deg) 80%);
    a {
        color: $html;
    }
}
.page-css {
    background-color: $css;
    background: linear-gradient(0.38turn, $css 20%, adjust-hue($css, 36deg) 80%);
    a {
        color: $css;
    }
}
.page-js {
    background-color: $js;
    background: linear-gradient(0.38turn, $js 20%, adjust-hue($js, 36deg) 80%);
    a {
        color: darken($js, 15%);
    }
}

// Footable
.surname {
    background-color: #eee;
}




/* Print */
@media print {
    *[href]::after {
        content: " [" attr(href) "]";
    }
    abbr[title]::after {
        content: " [" attr(title) "]";
    }
}
