/*!
 * Variables | WEB
 */

// Body
// =============================================================================

/// Barva textu
/// @type Color
$body-color: #333333;

/// Barva pozadí
/// @type Color
$body-bg: cadetblue;

// Link
// =============================================================================



// Foreground
// =============================================================================

/// Primární barva popředí
/// @type Color
$html: #e34f26; // HTML

/// Sekundární barva popředí
/// @type Color
$css: #0c73b8; // CSS

/// Terciární barva popředí
/// @type Color
$js: #e5a228; // JS
