/* Variables
---------------------------------------------------------------------------- */
:root {
    --va-section-bg: #F6EEE2;
  }

  /* Normalize
  ---------------------------------------------------------------------------- */
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: "Arial CE", Arial, sans-serif;
    line-height: 1.6;
  }

  /* Style
  ---------------------------------------------------------------------------- */
  .header {
    padding: 1.5em 2em 0.1em;
  }

  .nav {
    padding-left: 1em;
    padding-bottom: 2em;
  }

  .section {
    min-height: 100vh;
    padding: 2em 2em 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /*
   * 2n   je každý druhý prvek (zvoleného typu, zde tag <section>)
   * 2n-1 je každý druhý prvek mínus jedna, což je každý lichý prvek :)
   */
  .section:nth-of-type(2n-1) {
    background: var(--va-section-bg);
  }

  .footer {
    padding: 1.5em 2em;
  }

  /* Back to top, Scroll to bottom
  ---------------------------------------------------------------------------- */
  .back-to-top,
  .scroll-to-bottom {
    position: fixed;
    right: 1rem;
    border: 1px solid gray;
    border-radius: .25rem;
    background-color: #f8f9fa;
    padding: .375rem .75rem;
  }

  .back-to-top {
    bottom: 1rem;
  }

  .scroll-to-bottom {
    top: 1rem;
  }


/* Scroll progress */
#va-scroll-progress  {
    position: fixed;
    top: 0;
    left: 0;
    height: 8px;
    background: #0dcaf0;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) width;
    z-index: 1;
}
