<!-- Cookie -->

<!-- Load plugin css -->
<!-- <link rel="stylesheet" href="css/cookieconsent.css"> -->
<!-- Optimized css loading -->
<link rel="stylesheet" href="modules/vanilla-cookieconsent/cookieconsent.css" media="print" onload="this.media='all'">

<!-- Load iframemanager css -->
<link rel="stylesheet" href="modules/iframemanager/iframemanager.css" media="print" onload="this.media='all'">

<!-- Script -->
<script defer src="modules/iframemanager/iframemanager.js"></script>
<script defer src="modules/vanilla-cookieconsent/cookieconsent.js"></script>

<!-- Cookie settings -->
<button type="button" data-cc="c-settings" title="Nastavení souborů cookie">&#127850;</button>
<style>
    [data-cc="c-settings"] {
        font-size: 2rem;
        padding: 0px 2px 4px 3px;
        border: none;
        background-color: transparent;
        position: fixed;
        left: .5rem;
        bottom: .5rem;
        cursor: pointer;
    }
</style>
<script>
    if(location.protocol.slice(0, 4) !== 'http'){
        var warning = document.createElement('span');
        warning.innerHTML = '❗ Uložení cookies vyžaduje webový server (lokálně např. "npx http-server")❗';
        warning.classList.add('bg-warning', 'h6', 'd-inline-block', 'p-1');
        document.querySelector('[data-cc="c-settings"]').appendChild(warning);
    }
</script>
