<footer class="mt-3 footer">
    <div class="container">
        <nav class="footer__nav">
            <section class="nav--vertical">
                <strong>Rychlé odkazy</strong>
                <ul class="list-unstyled mb-0">
                    <li><a href="index.html">Úvod</a></li>
                </ul>
            </section>
            <section class="nav--vertical">
                <strong>Informace</strong>
                <ul class="list-unstyled mb-0">
                    <li><a href="gdpr.html">GDPR na webu</a></li>
                </ul>
            </section>
            <section class="nav--vertical">
                <strong>Kontakt</strong>
                <ul class="list-unstyled mb-0">
                    <li><a href="tel:+420973441111">+420 973 441 111</a></li>
                </ul>
            </section>
            <section class="nav--vertical">
                <strong>Následujte nás</strong>
                <ul class="list-unstyled mb-0">
                    <li><a href="https://www.vavyskov.cz" target="_blank">VeV-VA Vyškov</a></li>
                </ul>
            </section>
        </nav>
        <div class="footer__separator"></div>
        <div class="footer__info">
            <figure class="brand">
                <a href="index.html" class="brand__logo"><img src="assets/image/web.svg" width="48px" height="48px"
                                                              alt="WEB"></a>
                <figcaption>
                    <strong class="brand__title">Tvorba webu&nbsp;&ndash; HTML, CSS, JS</strong>
                    <div class="brand__description">Webové stránky stručně a prakticky</div>
                </figcaption>
            </figure>
            <p class="license">
                <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.cs" target="_blank">
                    <img src="assets/image/license-CC0.svg" alt="CC0" width="113" height="40">
                </a>
            </p>
        </div>
        <p class="license"></p>
    </div>
</footer>

<!-- Scripts -->
<!--
    FixMe: Local source do not work in IE11 and Edge
    FixMe: Defer breaks FooTable (jquery.min.js)
    Note: Bundle includes Popper
-->
<!--
<script src="modules/jquery/jquery.min.js"></script>
<script defer src="modules/bootstrap/js/bootstrap.bundle.min.js"></script>
-->

<%- include('_cookie.ejs'); %>

<script defer src="js/script.js"></script>


