<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="shortcut icon" href="assets/favicon/favicon.ico">

<link rel="stylesheet" href="modules/vanilla-cookieconsent/cookieconsent.css">
<link rel="stylesheet" href="css/style.css">
