<div class="col-12 order-first sticky-top">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark rounded-bottom">
        <a class="navbar-brand" href="index.html" title="Úvod"><img src="assets/image/web.svg" width="50" height="50" alt="Logo WEB"></a>

        <button hidden class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav">
                <li class="nav-item dropdown <% if (parentLink == 'technologie') { %>active<% } %>">
                    <a class="nav-link dropdown-toggle" href="#" id="technologieDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Technologie</a>
                    <div class="dropdown-menu" aria-labelledby="technologieDropdown">
                        <a class="dropdown-item <% if (activeLink == 'html') { %>active<% } %>" href="znackovaci-jazyk.html">HTML</a>
                        <a class="dropdown-item <% if (activeLink == 'css') { %>active<% } %>" href="kaskadove-styly.html">CSS</a>
                        <a class="dropdown-item <% if (activeLink == 'js') { %>active<% } %>" href="javascript.html">JS</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item <% if (activeLink == 'kontakt') { %>active<% } %>">
                    <a class="nav-link" href="kontakt.html">Kontakt</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
