<!doctype html>
<html lang="cs">
<head>

    <%- include('_head.ejs'); %>

    <title>GDPR na webu | Web</title>
    <meta name="description" content="GDPR (General Data Protection Regulation) neboli obecné nařízení o ochraně údajů, je právní rámec, který stanovuje pravidla pro sběr a zpracování osobních údajů fyzických osob v rámci Evropské unie.">
    <meta name="keywords" content="gdpr">
    <meta name="author" content="Centrum informačních technologií VeV-VA Vyškov">
</head>
<body>
<header class="container mt-3 text-center rounded-top header">
    <strong>Tvorba webu&nbsp;&ndash; HTML, CSS, JS</strong>
    <div>Webové stránky stručně a prakticky</div>
</header>
<div class="container">
    <div class="row">
        <main class="col-lg-9 bg-white mt-sm-3 pt-3 rounded main">
            <div class="jumbotron">
                <h1>GDPR na webu</h1>
                <p class="lead">Obecné nařízení o ochraně údajů <abbr title="General Data Protection Regulation">GDPR</abbr>, je právní rámec, který stanovuje pravidla pro&nbsp;sběr a zpracování osobních údajů fyzických osob v rámci Evropské unie.</p>
            </div>


            <p>GDPR stanovuje zásady pro&nbsp;správu dat a práv jednotlivce, a zároveň ukládá pokuty. Toto obecné nařízení o ochraně údajů se&nbsp;vztahuje na&nbsp;všechny úřady a firmy, které pracují s osobními údaji občanů.</p>
            <p>Nařízení je platné v celé EU ode dne <strong>25. května 2018</strong>.<span id="more-224"></span></p>
            <h2>Cookie</h2>
            <p>Od 30.&nbsp;září 2015 je nutné pro&nbsp;uživatele z Evropské Unie (EU) webové stránky doplnit o Povinný souhlas k ukládání souborů <strong><a style="font-size: 1rem;" href="https://www.vzhurudolu.cz/blog/36-eu-cookies" target="_blank" rel="noopener">cookie</a></strong>.</p>
            <h2>Kdy se&nbsp;vás GDPR netýká</h2>
            <ul>
                <li>neukládáte ani&nbsp;nezpracováváte <strong>žádné</strong> osobní údaje</li>
                <li><strong>nepoužíváte</strong> služby třetích stran
                    <ul>
                        <li>skripty reklamních systémů (Adsense, Adwords, Sklik atd.) – případně používat jen nepersonalizované reklamy</li>
                        <li>analytické nástroje (Google Analytics) – používáte jen „jednoduché počítadlo návštěv“ pracující s anonymními daty</li>
                        <li>detekce komentářového spamu</li>
                        <li>cloudová úložiště (Dropbox. Google Drive, OneDrive)</li>
                        <li>rozšiřující možnosti (témata vzhledu, pluginy / moduly atd.)</li>
                    </ul>
                </li>
            </ul>
            <h2>Kdy se&nbsp;vás GDPR týká</h2>
            <ul>
                <li>zpracováváte osobní údaje (databáze osob)</li>
                <li>máte povolené komentáře příspěvků (jméno, e-mail, IP adresa)</li>
                <li>používáte účty uživatelů (jméno, příjmení, e-mail, heslo, přezdívka, AIM – AOL Instant Messenger, Yahoo IM, Jabber / Google Talk, Google+, uživatelské jméno Twitteru, URL adresa profilu na&nbsp;Facebooku, libovolné osobní informace)</li>
                <li>umožňujete přímo či&nbsp;nepřímo identifikovat osobu (článek 4, 1.)</li>
                <li>ukládáte do&nbsp;prohlížeče nějaké informace podle kterých lze identifikovat konkrétní osobu (např.&nbsp;unikátní cookie o&nbsp;přihlášení uživatele)</li>
                <li>zálohujete osobní data</li>
                <li>používáte služby třetích stran</li>
            </ul>
            <p>Povinnosti:</p>
            <ul>
                <li>vyžádat souhlas od&nbsp;všech osob (tj.&nbsp;i&nbsp;u&nbsp;osob před&nbsp;termínem 25.5.2018)</li>
                <li>být procesně připraven</li>
                <li>mít uzavřené zpracovávatelské smlouvy odpovídající požadavkům GDPR</li>
                <li>zpřístupnit <a href="http://www.osd.army.cz/prohlaseni-gdpr">Prohlášení o&nbsp;nakládání s&nbsp;osobními údaji</a> (registrace, komentáře)
                    <ul>
                        <li><strong>jaká data</strong> jsou sbírána</li>
                        <li><strong>proč</strong> jsou data používána</li>
                        <li><strong>jak dlouho</strong> se budou využívat (účet – po&nbsp;dobu registrace, komentáře – po&nbsp;dobu existence článku)</li>
                        <li><strong>kdo</strong> k nim má přístup (zpracovatelé)</li>
                        <li><strong>kde</strong> se zálohují</li>
                        <li>jaký je postup k&nbsp;jejich odstranění</li>
                    </ul>
                </li>
                <li>mimo území EU přijmout příslušná právní opatření</li>
            </ul>
            <p>Práva:</p>
            <ul>
                <li>přístup k&nbsp;ukládaným osobním údajů</li>
                <li>možnost vymazání (anonymizace) všech zákonem nevyžadovaných osobních údajů konkrétního člověka
                    <ul>
                        <li>fotografie</li>
                        <li>podpis (sklon, přítlak)</li>
                        <li>biometrické údaje (oční rohovka, otisky prstů)</li>
                        <li>hlas</li>
                        <li>video záznam atd.</li>
                    </ul>
                </li>
            </ul>
            <p>Sankce:</p>
            <ol>
                <li>varování</li>
                <li>napomenutí</li>
                <li>pozastavení zpracovávání údajů</li>
                <li>pokuta 20 milionů €</li>
                <li>pokuta 4&nbsp;% z&nbsp;globálního ročního obratu</li>
            </ol>
            <p>Odkazy:</p>
            <ul>
                <li><a href="https://www.eugdpr.org/">www.eugdpr.org</a></li>
                <li><a href="http://ec.europa.eu/justice/smedataprotect/index_cs.htm">ochrana údajů</a></li>
                <li><a href="https://www.uoou.cz/desatero-zpracovani-pro-spravce/ds-4821/p1=4821">www.uoou.cz</a></li>
                <li><a href="https://ec.europa.eu/commission/priorities/justice-and-fundamental-rights/data-protection/2018-reform-eu-data-protection-rules_cs">reforma pravidel EU pro&nbsp;ochranu osobních údajů</a></li>
            </ul>

        </main>

        <%- include('_navbar.ejs', {activeLink: '', parentLink: ''}); %>

        <aside class="col-lg-3 mt-3 pl-sm-0 pr-sm-0 pl-lg-3">
            <div class="card">
                <h2 class="card-header">Soukromí</h2>
                <div class="card-body">
                    <p>Před sledováním při&nbsp;procházení Internetu Vás může chránit například rozšíření pro&nbsp;Google Chrome <a href="https://chrome.google.com/webstore/detail/privacy-badger/pkehgijcmpdhfbdbbnkijodmdjhbjlgp" target="_blank" rel="noopener">Privacy Badger</a>.</p>
                </div>
            </div>
        </aside>

    </div>
</div>

<%- include('_footer.ejs'); %>

</body>
</html>
