<!doctype html>
<html lang="cs">
<head>

    <%- include('_head.ejs'); %>

    <title>Tvorba webu&nbsp;&ndash; HTML, CSS, JS | Web</title>
    <meta name="description" content="Webové stránky stručně a prakticky">
    <meta name="keywords" content="HTML, CSS, JS, JavaScript">
    <meta name="author" content="Centrum informačních technologií VeV-VA Vyškov">
</head>
<body class="page-front">
<div class="container">
    <div class="row">
        <main class="col-lg-8 ml-auto mr-auto bg-white mt-sm-5 pt-3 rounded main text-center">
            <div class="jumbotron clearfix">
                <h1>Tvorba webu&nbsp;–&nbsp;HTML, CSS, JS</h1>
                <p class="lead">Webové stránky stručně a prakticky</p>
                <a href="znackovaci-jazyk.html" class="btn bg-success text-white mt-4">Začít</a>
            </div>
            <p class="lead">Pomocný nástroj příkazového řádku pro vytváření statických webových stránek.</p>
            <p></p>
        </main>
    </div>
</div>

<!-- Zakomentovano (#) -->
<%# include('_navbar.ejs', {activeLink: 'index', parentLink: ''}); %>
<%# include('_footer.ejs'); %>

<!-- Vlozeno (-) -->
<%- include('_cookie.ejs'); %>
<script defer src="js/script.js"></script>

</body>
</html>
