<!doctype html>
<html lang="cs">
<head>

    <%- include('_head.ejs'); %>

    <title>JavaScript | Web</title>
    <meta name="description" content="Praktické použití jazyka JavaScript na webových stránkách">
    <meta name="keywords" content="JavaScript">
    <meta name="author" content="Centrum informačních technologií VeV-VA Vyškov">
</head>
<body class="page-js">
<header class="container mt-3 text-center rounded-top header">
    <strong>Tvorba webu&nbsp;&ndash; HTML, CSS, JS</strong>
    <div>Webové stránky stručně a prakticky</div>
</header>
<div class="container">
    <div class="row">
        <main class="col-lg-9 bg-white mt-sm-3 pt-3 rounded main">
            <div class="jumbotron clearfix">
                <img class="float-right" src="assets/image/js.svg" width="88" height="100" alt="HTML">
                <h1>Použití jazyka JavaScript v&nbsp;praxi</h1>
                <p class="lead">JavaScript (<abbr title="JavaScript" lang="en">JS</abbr>) je velmi oblíbený programovací
                    jazyk pro web,
                    který je přítomen v&nbsp;každém moderním webovém prohlížeči. Nabízí mnoho možností využití od&nbsp;jednoduché
                    kontroly webových formulářů, manipulaci s&nbsp;obsahem stránky až po&nbsp;možnost vytvářet
                    užitečných klientských
                    aplikací.</p>
            </div>
            <figure class="figure">
                <img class="figure-img img-fluid rounded" src="assets/image/js-coding.jpg" alt="JavaScript"
                     srcset="
                        assets/image/resize/js-coding-sm.jpg 540w,
                        assets/image/resize/js-coding-md.jpg 720w,
                        assets/image/resize/js-coding-lg.jpg 960w,
                        assets/image/resize/js-coding-xl.jpg 1140w"
                     sizes="
                        (min-width: 1200px) calc(1140px * 0.75),
                        (min-width: 992px) calc(960px * 0.75),
                        (min-width: 768px) calc(720px),
                        (min-width: 576px) calc(540px),
                        calc(100vw - 2*15px)">
                <figcaption class="figure-caption">JavaScript</figcaption>
            </figure>

        </main>

        <%- include('_navbar.ejs', {activeLink: 'js', parentLink: 'technologie'}); %>

        <aside class="col-lg-3 mt-3 pl-sm-0 pr-sm-0 pl-lg-3">
            <div class="card">
                <h2 class="card-header">Povinnosti</h2>
                <div class="card-body">
                    <p>Od 30. září 2015 je nutné pro uživatele z&nbsp;Evropské Unie (EU) webové stránky doplnit o&nbsp;Povinný
                        souhlas k&nbsp;ukládání souborů cookie:</p>
                    <ul>
                        <li><a href="https://cookieconsent.insites.com" lang="en" target="_blank"><strong>The most popular
                            solution to the EU cookie law</strong></a></li>
                        <li><a href="https://cs.wikipedia.org/wiki/HTTP_cookie" target="_blank">HTTP Cookie</a></li>
                        <li><a href="https://www.vzhurudolu.cz/blog/36-eu-cookies" target="_blank">Vysvětlení pojmu <q>EU
                            cookie law</q></a></li>
                    </ul>
                </div>
            </div>
        </aside>
    </div>

</div>

<%- include('_footer.ejs'); %>

</body>
</html>
