<!doctype html>
<html lang="cs">
<head>

    <%- include('_head.ejs'); %>

    <title>Kaskádové styly | Web</title>
    <meta name="description"
          content="Kaskádové styly jsou základem webového designu, bez kterého se současné moderní webové stránky neobejdou">
    <meta name="keywords" content="CSS">
    <meta name="author" content="Centrum informačních technologií VeV-VA Vyškov">
</head>
<body class="page-css">
<header class="container mt-3 text-center rounded-top header">
    <strong>Tvorba webu&nbsp;&ndash; HTML, CSS, JS</strong>
    <div>Webové stránky stručně a prakticky</div>
</header>
<div class="container">
    <div class="row">
        <main class="col-lg-9 bg-white mt-sm-3 pt-3 rounded main">
            <div class="jumbotron clearfix">
                <img class="float-right" src="assets/image/css.svg" width="88" height="100" alt="HTML">
                <h1>Kaskádové styly (<abbr title="Cascading Style Sheets" lang="en">CSS</abbr>)</h1>
                <p class="lead">Kaskádové styly CSS (<span lang="en">Cascading Style Sheets</span>) umožňují měnit
                    vzhled HTML stránek. Pomocí CSS je možné definovat rozložení prvků na&nbsp;stránce, okraje, barvy,
                    písma a&nbsp;další vlastnosti. Webový prohlížeč zobrazí obsah webových stránek takovým způsobem,
                    jakým je definován pomocí CSS. Čím lépe budete ovládat kaskádové styly, tím snadněji budete schopni
                    ovlivnit vzhled webových stránek, tak aby vypadaly stylově a&nbsp;moderně.</p>
            </div>
            <figure class="figure">
                <img class="figure-img img-fluid rounded" src="assets/image/css-dual-screen.png" alt="CSS"
                     srcset="
                        assets/image/resize/css-dual-screen-sm.png 540w,
                        assets/image/resize/css-dual-screen-md.png 720w,
                        assets/image/resize/css-dual-screen-lg.png 960w,
                        assets/image/resize/css-dual-screen-xl.png 1140w"
                     sizes="
                        (min-width: 1200px) calc(1140px * 0.75),
                        (min-width: 992px) calc(960px * 0.75),
                        (min-width: 768px) calc(720px),
                        (min-width: 576px) calc(540px),
                        calc(100vw - 2*15px)">
                <figcaption class="figure-caption">Kaskádové styly</figcaption>
            </figure>

        </main>

        <%- include('_navbar.ejs', {activeLink: 'css', parentLink: 'technologie'}); %>

        <aside class="col-lg-3 mt-3 pl-sm-0 pr-sm-0 pl-lg-3">
            <div class="card mb-3">
                <h2 class="card-header">Kontrola</h2>
                <div class="card-body">
                    <p>Zdrojový kód</p>
                    <ul>
                        <li><a href="https://jigsaw.w3.org/css-validator/" target="_blank">CSS Validation
                            Service</a></li>
                    </ul>
                </div>
            </div>
        </aside>
    </div>

</div>

<%- include('_footer.ejs'); %>

</body>
</html>
