<!doctype html>
<html lang="cs">
<head>

    <%- include('_head.ejs'); %>

    <title>Kontakt VeV-VA Vyškov | Web</title>
    <meta name="description" content="Rádi přivítáme Vaši konstruktivní zpětnou vazbu a budeme rádi, když pro komunikaci s námi využijete libovolný níže uvedený kontakt">
    <meta name="keywords" content="Kontakt">
    <meta name="author" content="Centrum informačních technologií VeV-VA Vyškov">
</head>
<body>
<header class="container mt-3 text-center rounded-top header">
    <strong>Tvorba webu&nbsp;&ndash; HTML, CSS, JS</strong>
    <div>Webové stránky stručně a prakticky</div>
</header>
    <div class="container">
        <div class="row">
            <main class="col-lg-9 bg-white mt-sm-3 pt-3 rounded main">
                <div class="jumbotron clearfix">
                    <h1>Kontakt VeV-VA Vyškov</h1>
                    <p class="lead">Rádi přivítáme Vaši konstruktivní zpětnou vazbu ke&nbsp;kurzu Tvorba webu, který pořádá Velitelství výcviku&nbsp;– Vojenská akademie Vyškov a&nbsp;budeme rádi, když pro komunikaci s&nbsp;námi využijete libovolný uvedený kontakt.</p>
                </div>
                <h2>Mapa</h2>
                <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5203.3791199807565!2d16.97943823960257!3d49.301223602350376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1scs!2s!4v1427205296290" width="100%" height="300"></iframe>
            </main>

            <%- include('_navbar.ejs', {activeLink: 'kontakt', parentLink: ''}); %>

            <aside class="col-lg-3 mt-3 pl-sm-0 pr-sm-0 pl-lg-3">
                <div class="card">
                    <h2 class="card-header">Kontaktní údaje</h2>
                    <div class="card-body">
                        <h2>Adresa</h2>
                        <address>
                            VeV-VA<br>
                            Víta Nejedlého<br>
                            682 01 Vyškov
                        </address>
                        <h2>Telefon</h2>
                        <p>
                            <span class="fa fa-phone"></span> <a href="tel:00420724071147">724 071 147</a>&nbsp;&ndash; tisková mluvčí<br>
                            <span class="glyphicon glyphicon-phone-alt"></span> <a href="tel:00420973441111">973 441 111</a>&nbsp;&ndash; spojovatelka
                        </p>
                        <h2>Fax</h2>
                        <p>
                            <span class="fa fa-fax"></span> <a href="fax:00420973450500">973 450 500</a>&nbsp;&ndash; dozorčí
                        </p>
                        <h2>E-mail</h2>
                        <p>
                            <span class="fa fa-envelope-o"></span> <a href="mailto:info@vavyskov.cz">info@vavyskov.cz</a><br>
                        </p>
                    </div>
                </div>
            </aside>



        </div>
    </div>

    <%- include('_footer.ejs'); %>

</body>
</html>
