<!doctype html>
<html lang="cs">
<head>

    <%- include('_head.ejs'); %>

    <title>Značkovací jazyk HTML | Web</title>
    <meta name="description" content="Hypertextový značkovací jazyk (HTML) je základním stavebním kamenem každé webové stránky">
    <meta name="keywords" content="HTML">
    <meta name="author" content="Centrum informačních technologií VeV-VA Vyškov">
</head>
<body class="page-html">
<header class="container mt-3 text-center rounded-top header">
    <strong>Tvorba webu&nbsp;&ndash; HTML, CSS, JS</strong>
    <div>Webové stránky stručně a prakticky</div>
</header>
<div class="container">
    <div class="row">
        <main class="col-lg-9 bg-white mt-sm-3 pt-3 rounded main">
            <div class="jumbotron clearfix">
                <img class="float-right" src="assets/image/html.svg" width="88" height="100" alt="HTML">
                <h1>Značkovací jazyk (<abbr title="HyperText Markup Language" lang="en">HTML</abbr>)</h1>
                <p class="lead">HTML (<span lang="en">Hyper Text Markup Language</span>) je zkratka pro hypertextový
                    značkovací jazyk, který se&nbsp;používá k&nbsp;vytváření obsahu webové stránky. Obsah webové stránky
                    mohou tvořit texty, obrázky, tabulky, multimédia a&nbsp;další prvky.</p>
                <p class="lead">Webové stránky jsou mezi sebou vzájemně propojeny pomocí <strong>hypertextových
                    odkazů</strong>.</p>
                <p class="lead">Každá informace má přesně definovaný význam, který vyjadřuje konkrétní <strong>prvek
                    (element)</strong>. Prvek definuje počáteční a&nbsp;koncová <strong>značka (tag)</strong>. Počáteční
                    značka může obsahovat <strong>atributy</strong>, které jsou tvořený příslušným názvem a&nbsp;hodnotou.
                </p>
            </div>
            <figure class="figure">
                <img class="figure-img img-fluid rounded" src="assets/image/html-screen.png" alt="Zdrojový kód"
                     srcset="
                        assets/image/resize/html-screen-sm.png 540w,
                        assets/image/resize/html-screen-md.png 720w,
                        assets/image/resize/html-screen-lg.png 960w,
                        assets/image/resize/html-screen-xl.png 1140w"
                     sizes="
                        (min-width: 1200px) calc(1140px * 0.75),
                        (min-width: 992px) calc(960px * 0.75),
                        (min-width: 768px) calc(720px),
                        (min-width: 576px) calc(540px),
                        calc(100vw - 2*15px)">
                <figcaption class="figure-caption">Hypertextový značkovací jazyk</figcaption>
            </figure>

        </main>

        <%- include('_navbar.ejs', {activeLink: 'html', parentLink: 'technologie'}); %>

        <aside class="col-lg-3 mt-3 pl-sm-0 pr-sm-0 pl-lg-3">
            <div class="card mb-3">
                <h2 class="card-header">Kontrola</h2>
                <div class="card-body">
                    <p>Zdrojový kód:</p>
                    <ul>
                        <li><a href="https://validator.w3.org/" target="_blank">Markup Validation Service (HTML)</a>
                        </li>
                    </ul>

                    <p>Přístupnost:</p>

                    <ul>
                        <li><a href="http://wave.webaim.org/" target="_blank">WAVE Web Accessibility Tool</a> (po
                            úpravách vysypat cache prohlížeče a spustit test v nové záložce)
                        </li>
                    </ul>

                    <p>Rychlost:</p>

                    <ul>
                        <li><a href="https://developers.google.com/speed/pagespeed/insights/" target="_blank">PageSpeed
                            Insights (mobile, desktop)</a></li>
                        <li><a href="https://www.webpagetest.org/" target="_blank">Test a&nbsp;website&#39;s performance
                            (WebPagetest)</a></li>
                    </ul>

                    <p>SEO:</p>

                    <ul>
                        <li><a href="http://seo-servis.cz/power-sila-stranky/" target="_blank">Analýza síly webové
                            stránky (SEO Servis)</a></li>
                    </ul>

                    <p>Bezpečnost:</p>

                    <ul>
                        <li><a href="https://www.sslshopper.com/ssl-checker.html" target="_blank">SSL Checker - SSL
                            Certificate Verify</a></li>
                    </ul>

                    <p>Server:</p>

                    <ul>
                        <li><a href="https://http2.pro/" target="_blank">HTTP2, ALPN and Server-push support</a></li>
                    </ul>
                </div>
            </div>
        </aside>
    </div>

</div>

<%- include('_footer.ejs'); %>

<!-- FooTable -->
<!-- <script defer>
    jQuery(function ($) {
        $('.footable').footable({
            breakpoints: {
                phone: 749,
                tablet: 969
            }
        });
    });
</script> -->

</body>
</html>
